<div class="courier-container">
  <h1 class="page-title">Gestion des Livreurs</h1>

  <button class="add-btn" routerLink="/admin/couriers-form">
  Créer un livreur
</button>


  <table class="courier-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Créé le</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="couriers.length === 0">
        <td colspan="4" class="empty-row">
          Aucun livreur enregistré
        </td>
      </tr>

      <tr *ngFor="let courier of couriers" class="courier-row">
        <td data-label="ID">{{ courier.id }}</td>
        <td data-label="Nom">{{ courier.name }}</td>
        <td data-label="Email">{{ courier.email }}</td>
        <td data-label="Créé le">
          {{ courier.created_at | date:'dd/MM/yyyy HH:mm' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
